# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
.venv/
venv/

# Hermes link checker
.hermes/
!/.hermes/linkcheck.py

# Node
node_modules/

# Testing and Coverage Cache
.coverage
.pytest_cache/
.ruff_cache/

